<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/Home/Index</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS02;Initial Catalog=D:\repositoriy\WebApplicationForTest\WebApplicationForTest\App_Data\Test.mdf;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplicationForTest.Models.TestEntities, WebApplicationForTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelTest.csdl|res://*/Models.ModelTest.ssdl|res://*/Models.ModelTest.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SQLEXPRESS02;Initial Catalog=D:\repositoriy\WebApplicationForTest\WebApplicationForTest\App_Data\Test.mdf;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelTest.csdl|res://*/Models.ModelTest.ssdl|res://*/Models.ModelTest.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\repositoriy\WebApplicationForTest\WebApplicationForTest\App_Data\Test.mdf;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelTest.csdl|res://*/Models.ModelTest.ssdl|res://*/Models.ModelTest.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\repositoriy\WebApplicationForTest\WebApplicationForTest\App_Data\Test.mdf;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>