body {
    font-size: 15px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-left: 40px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 12px;
    transition: .3s ease-in-out;
}
nav {
    display: block;
}

a {
    color: #4800ff;
    border: 2px solid transparent;
}

    a:hover {
        border: 2px solid #4800ff;
    }
.menu {
    padding-left: 10px;
}

    .menu ul {
        list-style: none;
    }

    .menu li {
        display: inline;
    }



table {
    vertical-align: top;
    text-align: left;
    table-layout: fixed;
    padding: 12px 10px;
}

.header {
    font-weight: bold;
}

td {
    padding-right: 10px;
}
.col-md-10 {
    width: 400px;
}
input {
    width: 200px;
}



  
