@model IEnumerable<WebApplicationForTest.Models.Результат_теста>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваши результаты:</h2> <br />
<table class="table">

    <tr>
        <td>
            <br /><br /><p><big>Оценка:</big> @ViewBag.ResultProcent %</p><br /><br />
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" action="~/Разделы/Index">
                <br /><input type="submit" value="Выбрать другой тест" />
        
        </form>
        </td>
    </tr>
@foreach (string result1 in ViewBag.QuestionAnswer)
{

    <tr>
        <td>
            <br /><br /><p>@result1</p><br /><br />
        </td>
    </tr>

}



                          </table>

