@model WebApplicationForTest.Models.Должность

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просмотр деталей</h2>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название_должности)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_должности)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_должности }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
<form method="post" action="~/Home/Menu">
    <input type="hidden" value="admin" name="Login" />
    <input type="hidden" value="admin12345" name="Password" />
    <input type="submit" value="В меню" />

</form>