@model IEnumerable<WebApplicationForTest.Models.Вопросы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Тест "@ViewBag.НазваниеТеста"</h2> <br /><br />


<form method="post" action="~/Результат_вопроса/Index">
    <table class="table">
        <tr>

            <th>Выберите верный ответ</th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Текст_вопроса)
                </td>
            </tr>
            <tr>
                <td>
                    
                      
                    
                </td>
            </tr>
            <tr>
                <td>
                  
                    @Html.RadioButtonFor(modelItem => item.Ответы, item.Ответы)
                </td>

            </tr>
        }

        <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>

    </table>
</form>