@model IEnumerable<WebApplicationForTest.Models.Разделы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выбор темы из раздела</h2> <br />


<form method="post" action="~/Тесты/Index">
    <table class="table">
      

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <br /><br /><big><big> @Html.DisplayFor(m => item.Название_раздела)</big></big><br /><br />
                </td>

            </tr>


            foreach (var itemO in item.Темы)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(m=>(itemO.Название_темы))
                    </td>
                    <td>
                       

                        @Html.RadioButtonFor(m=>itemO.id_темы, itemO.id_темы)

                    </td>
                </tr>
            }

        }

        <tr><td><br /><br /><input type="submit" value="Отправить" /> </td><td></td></tr>

    </table>
</form>